{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <main class="central-custom2">
    <div class="container">
      <section class="mb-4">
        <div class="div-es">
          <div class='col-6 offset-3 div-es'>
            <br><br>
            <h1 class="txt-welcome" >{% trans "CERRAR SESIÓN" %}</h1>
            <p class="txt-welcome2">{% trans 'Esta seguro que desea cerrar sesión?' %}</p>
            <form method="post" action="{% url 'account_logout' %}" class="formulario-es">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn btn-primary' type="submit">Salir</button>

            </form>
            <br><br><br><br>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
