{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block content %}
<style>
    .page-footer{
        position: fixed; left: 0px; bottom: 0px; width: 100%; 
    }
    .main-custom{
        margin-top: -20px;
    }
    
</style>
    <main style="padding-left: 400px; padding-top: 150px; padding-bottom: 134px;" class="central-custom">
        <h1 class="txt-welcome">{% trans "Restablecer Constraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="txt-welcome3">{% trans "Olvidaste tu contraseña? Ingresa tu dirección de correo." %}</p>

    <form class="login txt-welcome3" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Restablecer mi contraseña' %}" />
    </form>

    <p class="txt-welcome2">{% blocktrans %}Porfavor contactate con nosotros si tienes problemas para restablecer tu contraña{% endblocktrans %}</p>
    </main>

{% endblock %}
