{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <main class="central-custom2">
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1 class="txt-welcome">{% trans "CREAR CUENTA" %}</h1>
            <p class="txt-welcome3">{% blocktrans %}Ya tienes cuenta? <a class="txt-welcome4" href="{{ login_url }}">Inicia sesíón</a>{% endblocktrans %}</p>
            <form class="signup txt-correccion" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class='btn btn-primary' type="submit">{% trans "Crear" %}</button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <br>
    <br>
  </main>
{% endblock %}
