{% extends "base.html" %}


{% block content %}

  <main style="margin-top: -50px;"  class="central-custom2">
    <div class="container wow">
      <h2 class="my-5 h2 text-center txt-welcome">Confirmar Orden</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="" class="card-body">
              

              <h3>Dirección de entrega</h3>

              <div class='hideable_shipping_form'>

                <div class="md-form mb-5">
                  <input type='text' class='form-control' />
                  <label for="shipping_address" class="">Dirección</label>
                </div>

                

                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Codigo Postal</label>
                    <input type='text'  class='form-control' />
                    <div class="invalid-feedback">
                      Porfavor ingrese su Codigo Postal
                    </div>
                  </div>
                </div>

                
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                  <label class="custom-control-label" for="set_default_shipping">Guardar como dirección de envio predeterminada</label>
                </div>

              </div>

              <hr>

              <h3>Opciones de pago</h3>

              <br>


              <div class="">
                
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custon-control-input" required>
                    <label for="Paypal">Paypal</label>
                  </div>

                  <div class="custom-control custom-radio">
                    <input type="radio" class="custon-control-input" required>
                    <label for="Paypal">Tarjeta</label>
                  </div>
                  <br>
                  <input type="button" style="width: 400px; margin-left: 140px;" value="Continuar la compra" class="btn btn-primary btn-lg btn-block" onclick="pago()" >

                
              </div>

              <hr class="mb-4">
              
              <br>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          
        </div>

      </div>

    </div>
    <br>
    <br>
    <br>
  </main>

{% endblock content %}

{% block extra_scripts %}


<script>
  function pago() {
  alert("Compra Realizada");
  location.href="../";

}  
</script>
{% endblock extra_scripts %}
