<footer class="page-footer text-center font-small mt-4 yellow">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f dark-grey-text mr-3"></i>
        </a>

        <a href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter dark-grey-text mr-3"></i>
        </a>

        <a href="https://www.youtube.com/" target="_blank">
            <i class="fab fa-youtube dark-grey-text mr-3"></i>
        </a>


    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright dark-grey-text py-3">
        <a class="dark-grey-text" target="_blank">Floreria "El Paraiso"</a>
    </div>
    <!--/.Copyright-->

</footer>