{% extends "base.html" %}

{% block content %}

<style>
    .page-footer{
        position: fixed; left: 0px; bottom: 0px; width: 100%; 
    }
    .main-custom{
        margin-top: -20px;
    }
    
</style>
  <main class="central-custom2 main-custom">
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2 class="txt-welcome">Carrito</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="txt-welcome2" scope="col">#</th>
            <th class="txt-welcome2" scope="col">Producto</th>
            <th class="txt-welcome2" scope="col">Precio</th>
            <th class="txt-welcome2" scope="col">Cantidad</th>
            <th class="txt-welcome2" scope="col">Total</th>
        </tr>
        </thead>
        <tbody class="txt-welcome2">
        {% for order_item in object.items.all %}
        <tr>
            <th class="txt-welcome2" scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a style="color: white" href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a style="color: white" href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: white;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>El carrito esta vacio</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continuar comprando</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceder al pago</a>
            <a class='btn btn-primary float-right' href='/'>Continuar comprando</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<br>
    </div>

    </div>
  </main>

{% endblock content %}


