.txt-welcome {
    margin-top: 25px;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.txt-welcome2 {
    margin-top: 25px;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.txt-welcome3 {
  
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
    

}

.txt-welcome4 {
    margin-top: 1px;
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

.txt-welcome4:hover {
    margin-top: 1px;
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #000000;
}

.txt-productos {
    margin-top: 25px;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.logo {
    width: 150px;
}

.txt-logo {
    text-decoration: none;
    color: black;
}

.txt-logo:hover {
    text-decoration: none;
    color: black;
}

.central-custom {
    background-color: red;
    margin-top: -27px;
    margin-bottom: -55px;
}

.central-custom-productos {
    background-color: red;
    margin-top: -50px;
    margin-bottom: -55px;
}

.salir-entrar{
    background-color: red;
}

.img-ventas {
    width: 400px;
    height: 550px;
}

.txt-descripcion {
    margin-left: -100px;
    text-align: justify;
}

.central-custom2 {
    background-color: red;
    margin-top: -10px;
    margin-bottom: -95px
}

.div-es{
    background-color: red;
    padding: 40px;

}

.formulario-es{
    margin-top: 50px;
    margin-bottom: 20px;
}

.txt-correccion{
    margin-top: -15px;
    margin-bottom: -10px;
}



